@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.user-project-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-select, .project-select {
    flex: 1;
    margin-right: 10px;
}

.ticket-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.tasks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.task-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
}

.task-name {
    font-weight: bold;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.edit-button {
    color: rgb(10, 140, 227);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    color: rgb(226, 42, 42);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

select {
    color: #333;
    background-color: #fff;
}
